:root {
  --font-gala: "Galada", cursive;
  --font-noto: "Noto Sans JP", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-gala);
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: auto;
  padding: 1rem 6%;
  background: rgb(9, 134, 128);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.header-title {
  color: #ffffff;
  font-family: var(--font-noto);
  text-align: center;
  font-size: 29px;
  text-transform: uppercase;
}

.section {
  height: 100vh;
  width: 100%;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#fullpage {
  height: auto;
  width: 100%;
  /* margin: 75px 0 0 0; */
}

.section:nth-child(even) {
  background: #0171ea;
}

.section:nth-child(odd) {
  background: #69d3aa;
}

.section:nth-child(even) .phrase {
  color: #ffffff;
}

.phrase {
  text-align: center;
  font-size: 2rem;
}

.goBottom,
.returnTop {
  position: absolute;
  bottom: 25px;
  cursor: pointer;
  color: #ffffff;
}

.goBottom i,
.returnTop i {
  font-size: 2.5rem;
}

.returnTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: var(--font-noto);
}

.returnTop i {
  margin: 6px 0 0 0;
}
